* {
  box-sizing: border-box;
}

.App {
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 5% 2%;
}

.Board {
  align-items: center;
  background-color: burlywood;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
}

.Board div {
  border-radius: 50%;
  height: 70px;
  margin: 1.2%;
  width: 70px;
}

/* @media (max-width: 992px) {
 
} */
